# Virtual Environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Logs and Debug outputs
*.log
viewer_log*.txt
headless_log*.txt

# OS metadata
Thumbs.db
.DS_Store

# IDE settings
.vscode/
.idea/
